.navbar {
  z-index: 10;
  background-color: #232f3e;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 10px;
  height: 40px;
}

.navbar_option {
  display: flex;
  color: white;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  /* padding-right: 5px; */
}

.navbar_option:hover {
  border: 1px solid white;
  transition: all 0.3s linear;
}

.navbar_option p {
  font-size: 0.9rem;
  font-weight: 500;
}

.navbar_prime_logo {
  width: 100px;
  margin-right: 20px;
}

@media screen and (max-width: 1381px) {
  .option_1 {
    display: none;
  }
}

@media screen and (max-width: 1253px) {
  .option_2 {
    display: none;
  }
}

@media screen and (max-width: 1153px) {
  .option_3 {
    display: none;
  }
}

@media screen and (max-width: 1062px) {
  .option_4 {
    display: none;
  }
}

@media screen and (max-width: 955px) {
  .option_5 {
    display: none;
  }
}

@media screen and (max-width: 819px) {
  .option_6 {
    display: none;
  }
}

@media screen and (max-width: 819px) {
  .option_7 {
    display: none;
  }
}
